* {
    box-sizing: border-box;
}


/* Style the body */

body {
    font-family: Arial;
    margin: 0;
    overflow-x: hidden;
    background-color: whitesmoke;
}

figure {
    margin: 0;
    padding: 0;
}


/*top header*/

.top-header {
    background-color: black;
    color: white;
}

.text-top-header {
    text-align: center;
    margin-block-start: .9em;
    margin-block-end: .9em;
    padding-left: 8rem;
}


/* Header/logo Title */

.header {
    position: relative;
    padding: 100px;
    height: 700px;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/slide1.jpg);
    color: white;
}

.header img {
    width: 60px;
    height: 60px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    border-bottom: 1px solid rgb(0, 153, 255);
}

.header-text,
.main-text {
    text-transform: capitalize !important;
}

.header-text--centered {
    position: absolute;
    top: 80%;
    left: 53%;
    transform: translate(-80%, -53%);
    border: none;
    border: .5px solid white;
    background: transparent;
    text-align: center;
    outline: none;
    width: max-content;
    height: max-content;
    text-transform: capitalize !important;
    padding: 8px 1px 8px 12px;
}

.header-text--centered a {
    text-decoration: none;
    color: white;
    outline: none;
    margin: 0;
}

.header-text--centered a:hover {
    background-color: transparent;
    cursor: pointer;
    color: #d5d5d5;
}

.flex-style-header {
    display: flex;
    justify-content: space-around;
    padding-left: 8rem;
    padding-right: 6.5rem;
}

.brand {
    height: 125px;
    width: 60px;
    position: absolute;
    left: 13rem;
}

.brand img {
    height: 100%;
}


/* Style the top navigation bar */

.navbar {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    padding-left: 8.8rem;
}

.navlink {
    display: flex;
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
}


/* Style the navigation bar links */

a {
    padding: 10px 16px 10px 16px;
    text-decoration: none;
    text-align: center;
}

.navbar a {
    color: black;
    border-left: .5px solid #aaa;
    border-right: .5px solid #aaa;
    font-size: 20px;
    line-height: 3;
}

.navlink a {
    color: whitesmoke;
    font-size: 12px;
    margin-right: .5em;
    line-height: 1.5;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    border-radius: 50%;
    vertical-align: top;
}


/* Change color on hover */

a:hover {
    background-color: #ddd;
    color: black;
}


/*Dropdown menu*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 14px 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*image show*/

.image-show {
    display: flex;
    justify-content: center;
    transform: scale(0.8, 1.2);
    border: none;
    height: max-content;
    margin-bottom: 30px;
}

.image-show img {
    height: 270px;
    width: 90%;
}


/*Flex positionnement*/

.flex-center {
    display: flex;
    width: 75%;
    align-items: center;
    flex-direction: column;
    margin-left: 1%;
    background-color: white;
}


/* Main column */

.main {
    width: 99%;
    background-color: whitesmoke;
}

.main-text--centered {
    border: none;
    border: .5px solid black;
    background: transparent;
    text-align: center;
    outline: none;
    width: max-content;
    height: max-content;
    text-transform: capitalize !important;
    padding: 8px 1px 8px 12px;
    margin: 10px 10px 30px 10px;
}

.main-text--centered a {
    text-decoration: none;
    color: black;
    outline: none;
    margin: 0;
}

.main-text--centered a:hover {
    background-color: transparent;
    cursor: pointer;
    color: #1a1a1a;
}


/* Fake image, just for this example */

.gallery {
    padding-bottom: 30px;
    width: 75%;
}

.gallery__item {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: white;
}

.gallery__img {
    background-color: white;
    text-align: center;
    height: 250px;
    padding-top: 25%;
    width: 100%;
    margin: 0;
}

.gallery__img--left,
.gallery__img--right {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
    margin: 0;
    height: 250px;
    width: 100%;
}

.gallery__left {
    display: grid;
    grid-template-columns: auto auto auto;
}

.gallery__right {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1 /span 2;
    grid-column: 1 /span 2;
}

.img-bg {
    height: 500px;
    width: 500px;
}


/* Footer */

.footer {
    text-align: center;
    width: 100vw;
    position: absolute;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background: #dcdcdc;
    width: 100%;
    height: 150px;
    justify-content: center;
}

.row img {
    width: 100px;
    height: 100px;
    margin: 30px;
}

.fas.fa-times {
    top: 50px;
}

.fas.fa-times::before {
    margin: 50px;
    height: 50px;
    top: -80px;
    position: relative;
    font-size: 20px;
    font-weight: lighter;
    transform: translateY(-90px);
}

.up {
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom-color: rgb(255, 102, 0);
    position: absolute;
    left: 49%;
    top: 90px;
}

.up::after {
    content: '';
    position: absolute;
    left: -30px;
    top: 30px;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: rgb(255, 102, 0);
}

.fas.fa-chevron-up {
    color: white;
    margin-left: -40px;
}

.fas.fa-chevron-up::before {
    margin: 50px;
    height: 50px;
    top: 10px;
    left: -17px;
    position: relative;
    font-size: 20px;
    font-weight: lighter;
    transform: translateY(-90px);
}

.foot-end {
    background: rgb(37, 37, 37);
    width: 100%;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: rgb(37, 37, 37);
    height: 430px;
    justify-content: space-around;
    padding-top: 50px;
}

.foot img {
    width: 100px;
    height: 100px;
    filter: invert(0%);
    -webkit-filter: invert(0%);
    background-color: transparent;
    margin-left: 10px;
}

.navfoot {
    background-color: transparent;
    margin-top: 30px;
}

.navfoot a {
    color: #d5d5d5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

.social-medias {
    background: rgb(37, 37, 37);
    z-index: 1;
}

.fab::before {
    margin: 30px;
    height: 50px;
    top: -80px;
    position: relative;
    font-size: 40px;
    font-weight: lighter;
    transform: translateY(-90px);
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

hr {
    top: -50px;
    position: relative;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}